<h3><%="#{@user.email}'s stories"%></h3><br>
<% @stories.each do |s| %>
<h4><%= s.prompt.name.capitalize%></h4>
<br><%= image_tag s.photo, size: '100x100' %><br><br>
<%= s.body %><br><hr>
<% if s.user == current_user %>
	<%= link_to "Edit", edit_story_path(s) %>
	<% end %>
<% end %>
