<div class = "row">
	<div class="col-md-7">

<%= simple_form_for @story, html: {class: 'form-horizontal'} do |form| %>
	<%= form.input :body, label: 'Edit Text'%> <br>
	 <%= form.input :photo, label: "Change photo:"%><br>
	 <%= form.submit 'Update', class: 'btn btn-primary' %>
	<% end %><br><br>
	 <%= button_to 'Delete Story', story_path(@story), method: :delete, :class => "btn btn-primary" %>
	</div><br>
	

	<div class="col-md-5">
    <%= image_tag @story.photo, size: '300x300' %>
  </div>

</div>