<h1>Stories Feed</h1><br>


<h4><%=link_to 'Write a new Story', new_story_path(Prompt.first)%><br></h4>

<hr>

<% @stories.each do |story| %>
	<h4><%= link_to story.prompt.name.capitalize, story_path(story) %></h4> 
	<br><%= link_to story.user.email, user_path(story.user)%><br>
	<%= story.body.first(400) %><br>
	<%= image_tag story.photo, size: '100x100' %>
	<hr>
<% end %>
